<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secretaria - FakeEtec</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../estilos/style6.css">
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
  </head>
  <body>
    <nav class="sidebar bg-dark text-white p-3" style="height: 100%; position: fixed;">
            <h4 class="text-center">Admin FakeEtec</h4>
            <ul class="nav flex-column">
            <li class="nav-item" style="padding: 10px;">
                <button class="btn btn-dark" data-bs-target="#modalMatricula" data-bs-toggle="modal" id="btn">Registrar novo aluno</button>
            </li>
            <li class="nav-item" style="padding: 10px;">
                <button class="btn btn-dark" data-bs-target="#modalRegistro" data-bs-toggle="modal" id="btn">Registrar novo professor</button>
            </li>
            <li class="nav-item" style="padding: 10px;">
                <button class="btn btn-dark" data-bs-target="#modalData" data-bs-toggle="modal" id="btn">Adicionar feriado/evento</button>
            </li>
            <li class="nav-item" style="padding: 10px;">
                <button class="btn btn-dark" data-bs-target="#modalCurso" data-bs-toggle="modal" id="btn">Criar novo curso</button>
            </li>
            <li class="nav-item" style="padding: 10px;">
                <a href="homepage.html" class="nav-link" style="color: white;">Homepage</a>
            </li>
            </ul>
        </nav>

    <main>
        <div class="email">
            <h2>Mandar email</h2>
            <label for="grupo" class="form-label">Grupo de destinatários</label>
            <select name="dest" id="grupo" class="form-control" onchange="enviarParaTodos()">
                <option value="">--Selecione--</option>
                <option value="alunos">Todos os alunos</option>
                <option value="professores">Todos os professores</option>
            </select>

            <label for="iass" class="form-label">Assunto</label>
            <input type="text" name="assunto" id="iass" class="form-control">

            <label for="imsg" class="form-label">Mensagem</label>
            <textarea id="imsg" rows="6" class="form-control"></textarea>

            <button onclick="enviarParaTodos()" class="btn btn-primary" id="enviar">Enviar E-mail</button>
        </div>
        <div id="status"></div>
    </main>

    <!-- MODAL -->
    <div class="modal fade" id="modalMatricula" tabindex="-1" aria-labelledby="modaMatriculaLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form id="formMatricula" class="modal-content" action="../scripts/matricula.php" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAdicionarReuniaoLabel">Mátricula - Aluno</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inome" class="form-label">Nome</label>
                            <input type="text" name="nome" id="inome" required maxlength="15" class="form-control">

                            <label for="isobrenome" class="form-label">Sobrenome</label>
                            <input type="text" name="sobrenome" id="isobrenome" required maxlength="15" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                    </form>
                    </div>
                </div>

                <!-- MODAL PROFESSOR -->
                 <div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAdicionarReuniaoLabel">Registro - Professor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inome" class="form-label">Nome</label>
                            <input type="text" name="nome" id="inomee" required maxlength="15" class="form-control">

                            <label for="iemail" class="form-label">Email</label>
                            <input type="email" name="email" id="iemail" class="form-control" maxlength="50">

                            <label for="isenha" class="form-label">Senha</label>
                            <input type="password" name="senha" id="isenha" class="form-control" maxlength="20">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="btnRegistrar">Registrar</button>
                    </div>
                    </form>
                    </div>
                </div>

                <!-- MODAL CALENDÁRIO -->
                 <div class="modal fade" id="modalData" tabindex="-1" aria-labelledby="modalDataLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content" id="formEvento">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAdicionarReuniaoLabel">Registro - Feriado/Evento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="idia" class="form-label">Dia</label>
                            <input type="date" name="dia" id="idia" required class="form-control">

                            <label for="ivolta" class="form-label">Dia de volta</label>
                            <input type="date" name="volta" id="ivolta" class="form-control" maxlength="50">

                            <label for="inomeee" class="form-label">Nome do evento</label>
                            <input type="text" name="nome" id="inomeee" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="btnEvento" type="button" class="btn btn-primary" >Registrar</button>
                    </div>
                    </form>
                    </div>
                </div>

                <!-- MODAL NOVO CURSO -->
                 <div class="modal fade" id="modalCurso" tabindex="-1" aria-labelledby="modalCursoLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAdicionarReuniaoLabel">Criação - Curso</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="icurso" class="form-label">Nome do curso</label>
                            <input type="text" name="nome" id="icurso" class="form-control" maxlength="30">

                            <label for="itec" class="form-label">Área técnica</label>
                            <input type="text" name="area" id="itec" class="form-control" maxlength="30">

                            <label for="icarga" class="form-label">Carga horária</label>
                            <input type="number" name="carga" id="icarga" class="form-control" placeholder="em Horas">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="btnCriar" type="button" class="btn btn-primary">Criação</button>
                    </div>
                    </form>
                    </div>
                </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script>
        document.getElementById('btnRegistrar').addEventListener('click', function(){
            event.preventDefault();

            const nomeProfessor = document.getElementById('inomee').value.trim();
            const emailProfessor = document.getElementById('iemail').value.trim();
            const senhaProfessor = document.getElementById('isenha').value.trim();

            if(!nomeProfessor || !emailProfessor || !senhaProfessor){
                alert('Preencha todos os campos');
            }

            const formRegistro = new URLSearchParams();
            formRegistro.append('nome', nomeProfessor);
            formRegistro.append('email', emailProfessor);
            formRegistro.append('senha', senhaProfessor);

            fetch('../scripts/registro.php', {
                method: "POST",
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: formRegistro.toString()
            })
            .then(response => response.text())
            .then(resposta => {
                if(resposta.trim() === 'Sucesso'){
                    alert('Professor registrado');
                }
                else{
                    alert('Erro, comunique o suporte');
                    console.error('Erro: ', resposta)
                }
            })
        })

        document.getElementById('btnEvento').addEventListener('click', function(){
            event.preventDefault();

            const data_evento = document.getElementById('idia').value.trim();
            const data_volta = document.getElementById('ivolta').value.trim();
            const nomeEvento = document.getElementById('inomeee').value.trim();

            if(!data_evento || !data_volta || !nomeEvento){
                alert('Preencha todos os campos')
            }
            const formEvento = new URLSearchParams();
            formEvento.append('dia', data_evento);
            formEvento.append('volta', data_volta);
            formEvento.append('nome', nomeEvento);

            fetch('../scripts/evento.php', {
                method: "POST",
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: formEvento.toString()
            })
            .then(response => response.text())
            .then(resposta => {
                if(resposta.trim() === 'Sucesso'){
                    alert('Evento adicionado');
                }
                else{
                    alert('Erro, comunique o suporte');
                    console.error('Erro: ', resposta)
                }
            })
        })

        document.getElementById('btnCriar').addEventListener('click', function(){
            event.preventDefault();

            const nomeCurso = document.getElementById('icurso').value.trim();
            const areaCurso = document.getElementById('itec').value.trim();
            const cargaCurso = document.getElementById('icarga').value;

            if(!nomeCurso || !areaCurso || !cargaCurso){
                alert('Preencha todos os campos')
            }
            const formCurso = new URLSearchParams();
            formCurso.append('nome', nomeCurso);
            formCurso.append('area', areaCurso);
            formCurso.append('carga', cargaCurso);
            fetch('../scripts/curso.php', {
                method: "POST",
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: formCurso.toString()
            })
            .then(response => response.text())
            .then(resposta => {
                if(resposta.trim() === 'Sucesso'){
                    alert('Curso criado');
                }
                else{
                    alert("Erro, comunique o suporte");
                    console.error('Erro: ', resposta)
                }
            })
        })
    emailjs.init("O82xk317ejttox0Nt");
     const emails = {
      professores: [
        { nome: "Flávio", email: "flavio2010sjc@gmail.com" },
        { nome: "Livia", email: "gih6197@gmail.com" }
      ],
      alunos: [
        { nome: "Lucas", email: "lucas@escola.com" },
        { nome: "Ana", email: "ana@escola.com" }
      ]
    };

    async function enviarParaTodos() {
      const grupo = document.getElementById("grupo").value;
      const assunto = document.getElementById("iass").value;
      const mensagem = document.getElementById("imsg").value;
      const status = document.getElementById("status");

      if (!grupo || !assunto || !mensagem) {
        alert("Preencha todos os campos.");
        return;
      }

      const lista = emails[grupo];
      if (!lista) {
        alert("Grupo inválido.");
        return;
      }

      status.innerText = "Enviando e-mails...";
      status.style.color = "#333";

      let enviados = 0;

      for (const pessoa of lista) {
        try {
          await emailjs.send("service_7d9jv1j", "template_0mdsx0q", {
            to_name: pessoa.nome,
            to_email: pessoa.email,
            from_name: "Admin Escolar",
            message: mensagem   
          });

          enviados++;
        } catch (error) {
          console.error(`Erro ao enviar para ${pessoa.nome}:`, error);
          console.log(pessoa.nome, pessoa.email)
        }
      }

      if (enviados === lista.length) {
        status.innerText = `Todos os e-mails foram enviados com sucesso para ${grupo}.`;
        status.style.color = "green";
      } else {
        status.innerText = `Alguns e-mails falharam. Verifique o console.`;
        status.style.color = "red";
      }
    }

    </script>
  </body>
</html>