<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desempenho - FakeEtec</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../estilos/style3.css">
</head>
  <body>
    <header>
        <h2>Desempenho Escolar</h2>
        <div>
            <a href="homepage.html">HomePage</a>
            <a href="perfil.html">Perfil</a>
            <a href="#">Tarefas</a>
        </div>
        <!-- Criar essas páginas, a ordem você decidi otario -->
         <!-- Arruma esses links antes -->
    </header>
    <h1 style="text-align: center;">Situação: <span style="color: green;"> Aprovado </span></h1>
    <main>
        <div class="matematica" id="nota">
            <h2>Matemática</h2>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 80%">8.0</div>
            </div>
        </div>
        <div class="portugues" id="nota">
            <h2>Português</h2>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 95%">9.5</div>
            </div>
        </div>
        <div class="historia" id="nota">
            <h2>História</h2>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 100%">10</div>
            </div>
        </div>
        <div class="artes" id="nota">
            <h2>Artes</h2>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 70%">7.0</div>
            </div>
        </div>
        <div class="fisica" id="nota">
            <h2>Física</h2>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 75%">7.5</div>
            </div>
        </div>
        <div class="quimica" id="nota">
            <h2>Química</h2>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 80%">8.0</div>
            </div>
        </div>
        <div class="curso" id="nota">
            <h2>Matérias do curso</h2>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 100%">10.0</div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>