<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfil - FakeEtec</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos/style2.css">
  </head>
  <body>
    <header>
        <h2>Perfil Escolar</h2>
        <div>
            <a href="homepage.html">HomePage</a>
            <a href="#">Desempenho</a>
            <a href="#">Tarefas</a>
        </div>
        <!-- Criar essas páginas, a ordem você decidi otario -->
         <!-- Arruma esses links antes -->
    </header>
    <main>
        <div class="foto">
            <img src="imagens/perfil.webp" alt="" height="150px">
        </div>
        <div class="texto">
            <h2>Flávio Coelho</h2>
            <p>Aluno do 1º Ano de Desenvolvimento de Sistemas</p>
            <a href="#"><button class="btn btn-primary">Editar perfil</button></a>
        </div>
        <div class="infos">
            <h2>Informações do aluno</h2>
            <hr>
            <h3>Número de Matrícula</h3>
            <p>123456</p>
            <h3>Curso</h3>
            <p>Desenvolvimento de Sistemas</p>
            <h3>E-mail</h3>
            <p>flavio.coelho@gmail.com</p>
            <h3>Período</h3>
            <p>Integral</p>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>